<nav class="navbar navbar-toggleable-sm dark fixed-top z2">
  <h1 class="navbar-brand">Github Viewer</h1>

  
    <form class="form-inline centered">
      <div class="inner-addon right-addon">
      <input class="form-control mr-sm-2 rounded" type="text" placeholder="E.g. amitasaurus" ng-model="main.user">
      <button class="btn btn-purple" type="submit" ng-click="main.search(main.user)">Search</button>
      </div>

    </form>
</nav>

<div class="container jumbotron">
	<h1>Search for a Github User</h1>
	<h2>Enter a Username in search box.</h2>
</div>